# Environments
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo

# Models (too large for GitHub)
*.hdf5
emotion_model.hdf5
emotion_model_ferplus.hdf5
emotion_model_v2.hdf5
fer2013_mini_XCEPTION.hdf5

# Data & Temp files
public_url.txt
tunnel_log.txt
*.log

# IDEs
.vscode/
.idea/

# PDFs/Large files (optional, but a good idea to ignore large datasets)
DBMS Hand written Notes .pdf
fer2013/

# Keep TFLite models since they are small enough (< 1MB)
!*.tflite
